@model MainViewModel
@{

}

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Samuel Trimble</title>

	<link rel="icon" type="image/png" href="~/Content/Images/Icons/AppIcon.png">

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:200,400">
	@(Styles.Render(MVCConfig.bundledStyles))
	@(RenderSection("styles", false))
</head>
<body class="st-page-@(Model.PageClass)" data-section="@(Model.PageSection)">
	<canvas id="st_hexContainer"></canvas>

	@(RenderSection("body"))

	@(Scripts.Render(MVCConfig.bundledScripts))
	@(RenderSection("scripts", false))
</body>
</html>
